@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primary: #263A74;
    --cor-secundary: #FDAB21;
    --cor-terciary: #ddd;
    --font-family: 'Roboto', sans-serif;;
}

html,body{
    font-family: var(--font-family);
    background-color: var(--cor-primary);
    width: 100%;
}

/* Header initial*/

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

header > div{
    text-align: center;
    align-items: center;
}

header > div > h1,h2{
    color: var(--cor-terciary);
    text-align: center;
    margin: 10px;
    animation-name: machine;
    animation-duration: 1.5s;
}

@keyframes machine{
    from{
        filter: blur(1.2rem);
    }
    to{
        filter: none;
    }
}

header > div > h2{
    color: #bebebe;
}

/* Header - img */

.logo{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
}

/* Nav initial */

.nav{
    max-height: 50px;
    display: flex;
    overflow-x: auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--cor-secundary);
}

.nav::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: #aaa; /* ou que isso seja adicionado ao "caminho" da barra */
}

.nav::-webkit-scrollbar-thumb {
    background: var(--cor-primary);
}

.nav > .item{
    min-width: 170px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: center;
    background-color: var(--cor-secundary);
}

.nav > .item > a{
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 900px) {
    .nav{
        justify-content: center;
    }
    .nav > .item{
        min-width: 100px;
        margin: 0 20px;
    }
}

/* #introdução inital */

#introducao{
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0px;
    background-color: var(--cor-terciary);
    border-bottom: 2px solid var(--cor-secundary);
}

#introducao > img{
    width: 400px;
    height: 300px;
    margin: 10px;
    transition-duration: .2s;
}

#introducao > p{
    color: var(--cor-primary);
    font-size: 1.3em;
    font-weight: 500;
    padding: 5px;
}

/* #cursos initial */

#cursos{
    text-align: center;
    padding-bottom: 20px;
    background-color: var(--cor-terciary);
}

.titulo{
    color: #172347;
    font-size: 2em;
    text-align: center;
    padding: 15px 0;
}

.sub-titulo > h1{
    color: #172347;
    font-size: 1.7em;
    text-align: center;
    padding: 40px 0 10px 0;
}

.informacoes-cursos{
    width: 100%;
    margin-bottom: 20px;
}

.informacoes-cursos > ul{
    padding: 0 30px;
    text-align: justify;
}

.informacoes-cursos > ul > li{
    color: #263A74;
    padding: 15px 0;
    line-height: 25px;
}

.informacoes-cursos > ul > li > p{
    color: #263A74;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 25px;
}

.card-profession{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #263A74;
}

.card-profession > div > h1{
    color: #fff;
    font-size: 1.8em;
    padding: 10px 0;
}

.card-profession > div{
    max-width: 900px;
    text-align: center;
}

.card-profession > div > ul{
    width: 100%;
    text-align: center;
}

.card-profession > div > ul > li{
    color: #fff;
    padding: 15px 0;
    list-style: none;
    display: flex;
    text-align: justify;
}

.card-profession > div > ul > li > p{
    color: #fff;
    padding: 10px 0;
    font-size: 1.3em;
    font-weight: 500;
}

.check{
    margin-right: 10px;
}

.texto{
    width: 100%;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
}

.texto > p{
    max-width: 1100px;
    color: var(--cor-primary);
    text-align: justify;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 30px;
    margin: 10px 0;
}

.coordenadores{
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

/* Imagens dos Coordenadores*/

.img-coordenador{
    width: 100%;
    height: 100%;
}
#imgOne{
    overflow: hidden;
    max-width: 600px;
    max-height: 330px;
    margin-bottom: 30px;
    padding: 0;
    background-color: #ddd;
    box-shadow: 6px 6px 5px #263a7483;
}
#imgTwu{
    overflow: hidden;
    max-width: 600px;
    max-height: 330px;
    margin-bottom: 30px;
    padding: 0;
    box-shadow: 10px 10px 5px #263a7483;
}
#imgTree{
    overflow: hidden;
    max-width: 600px;
    max-height: 300px;
    height: 100%;
    margin-bottom: 30px;
    padding: 0;
    box-shadow: 10px 10px 5px #263a7483;
}

.coordenadores{
    padding: 0 10px;
}

.coordenadores > div{
    width: 100%;
    height: 330px;
    margin: auto;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    background-color: #263A74;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.534);
}

.coordenadores > div > h1{
    color: var(--cor-secundary);
    font-size: 1.5em;
    padding: 20px 0;
}

.coordenadores > div > p{
    color: #ffffff;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 25px;
}

.coordenadores > div > p > span{
    color: var(--cor-secundary);
    text-align: justify;
    font-size: 1em;
    font-weight: 700;
    line-height: 25px;
}

@media screen and (min-width: 829px){
    .coordenadores{
        display: flex;
        justify-content: center;
    }
    .coordenadores > div{
        max-width: 500px;
        margin: 0;
        margin-left: 20px;
    }
}

/* #bolsas initial*/

#bolsas{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciary);
}

#bolsas > div{
    max-width: 1250px;
}

#bolsas > div > h1{
    color: #172347;
    margin-top: 20px;
    margin-bottom: 10px;
}

#bolsas  > div > img{
    margin-right: 10px;
}

#bolsas  > div > p{
    color: #263A74;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 30px;
    margin: 10px 0;
    margin-left: 50px;
    text-align: justify;
}

/* #centro-academico initial */

#centro-academico{
    padding: 20px;
}

#centro-academico > h1{
    color: var(--cor-secundary);
}

#centro-academico > p{
    color: var(--cor-terciary);
    font-size: 1.2em;
    padding: 10px;
    text-align: justify;
}

#informacoes-cursos-centro-academico{
    width: 100%;
    text-align: center;
}

.img-centro-academico{
    width: 450px;
    align-items: center;
    border-radius: 3px;
    box-shadow: 4px 7px 14px -2px rgba(119, 119, 119, 0.541);
    transition-duration: .2s;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    transition-duration: .5s;
}

.cards > div > h1{
    color: var(--cor-secundary);
    font-size: 1.5em;
    text-align: justify;
}

.cards > div > p{
    color: var(--cor-terciary);
    text-align: justify;
    font-size: 1.1em;
    font-weight: 700;
    display:flex;
    line-height: 25px;
    padding: 10px 0;
}

/* #horas initial*/

#horas{
    max-width: 11000px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--cor-terciary);
}

/* primeira div*/

#horas > #div-1{
    padding: 20px;
}

#horas > #div-1 > h1{
    color: #0f162e;
    text-align: center;
    margin-bottom: 15px;
}

#horas > #div-1 > p{
    color: #263A74;
    font-size: 1.1em;
    padding: 10px 10px 10px 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

#horas > #div-1 > ul{
    text-align: center;
    margin: 15px;
}

#horas> #div-1 > ul > li{
    color: #263A74;
    font-size: 1.1em;
    padding: 5px 0;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
}

/* segunda div */

#horas > #div-2{
    text-align: center;
    align-items: center;
    padding: 20px;
}

#horas > #div-2 > h1{
    color: #0f162e;
    text-align: center;
    margin-bottom: 15px;
}

#div-2-1{
    display: flex;
    justify-content: center;
    margin: 15px;
}

#horas > #div-2 > #div-2-1 > ul{
    margin-left: 30px;
}

#horas > #div-2 > #div-2-1 > ul > li{
    color: #263A74;
    font-size: 1.1em;
    padding:0;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    text-align: justify;
}

/* terceira div */

#horas > #div-3{
    text-align: center;
    align-items: center;
    padding: 20px;
}

#horas > #div-3 > h1{
    color: #0f162e;
    text-align: center;
    margin-bottom: 15px;
}

#horas > #div-3 > ul{

    margin: 15px;
}

#horas > #div-3 > ul > li{
    color: #263A74;
    max-width: 900px;
    font-size: 1.1em;
    margin: 10px 0;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
}

/* quarta div */

#horas > #div-4{
    padding: 20px;
}

#horas > #div-4 > h1{
    color: #0f162e;
    text-align: center;
    margin-bottom: 15px;
}

#horas > #div-4 > p{
    color: #263A74;
    font-size: 1.1em;
    padding: 10px 10px 10px 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

/* quinta div*/

#horas > #div-5{
    padding: 20px;
}

#horas > #div-5 > h1{
    color: #0f162e;
    text-align: center;
    margin-bottom: 15px;
}

#horas > #div-5 > p{
    color: #263A74;
    font-size: 1.1em;
    padding: 10px 10px 10px 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

/* #contatos initial */

#contato{
    width: 100%;
    padding: 20px;
}

#contato > h1{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

#contato > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contato > div > ul{
    margin: 0 40px;
}

#contato > div > ul > li{
    color: #fff;
    list-style: none;
}

/* Footer initial */

footer{
    background-color: #000;
    padding: 10px;
}

footer > section{
    display: flex;
    justify-content: space-between;
}

footer > section > div#redes-sociais{
    text-align: center;
    padding: 10px;
}

footer > section > div#email{
    text-align: right;
    padding: 10px;
}

footer > section > div#email > img{
    margin-right: 60px;
}

footer > section > div#redes-sociais > ul{
    margin-top: 10px;
    text-align: left;
}

footer > section > div#email > ul{
    margin-top: 10px;
    text-align: right;
}

footer > section > div > ul > li{
    list-style: none;
    padding: 5px;
}

footer > section > div > ul > li > a{
    color: var(--cor-terciary);
    font-size: 1em;
    text-decoration: none;
}

footer > section > div > ul > li > a:hover{
    color: var(--cor-secundary);
}

footer > p{
    color: var(--cor-terciary);
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* animation */

.hidden-rigth{
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100px);
}

.show-rigth{
    opacity: 1;
    transform: translateX(0px);
    transition: all 2s;
}

.hidden-opacity{
    opacity: 0;
    filter: blur(1rem);
    transition: all 2s;
}

.show-opacity{
    opacity: 1;
    filter: none;
    transition: all 2s;
}

.hidden-top{
    opacity: 0;
    transform: translateY(-100px);
    transition: all 2s;
}

.show-top{
    opacity: 1;
    transform: translateY(0px);
    transition: all 2s;
}

.hidden-lirics{
    opacity: 0;
}

.show-lirics{
    opacity: 1;
    content: 'eu';
    transition: all 2S;
}
