/* #horas initial*/

#horas{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--cor-terciary);
}

#horas > .container{
    max-width: 1100px;
    width: 100%;
}

#horas > .container > .descrition{
    padding: 20px;
}

#horas > .container > .descrition > h1{
    color: #1e2c5a;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 15px;
}

#horas > .container > .descrition > p{
    color: #1e2c5a;
    font-size: 1.1em;
    padding: 10px 10px 10px 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
}

#horas > .container > .descrition > .position-center{
    text-align: center;
}

.container > .descrition > div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#horas > .container > .descrition > div > ul{
    margin-left: 30px;
}

#horas > .container > .descrition > div > ul > li{
    color: #263A74;
    font-size: 1.1em;
    padding:0;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    text-align: justify;
}