/* #cursos initial */

#cursos{
    text-align: center;
    background-color: var(--cor-terciary);
}

.titulo{
    color: #172347;
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
}

.sub-titulo > h1{
    color: #172347;
    font-size: 1.7em;
    text-align: center;
    padding: 40px 0 10px 0;
}

.informacoes-cursos{
    max-width: 2000px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.informacoes-cursos > div{
    width: 92%;
}

.informacoes-cursos > div > p{
    color: #263A74;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 15px;
}

.informacoes-cursos > div > p > span{
    color: #1c2a53;
    font-size: 1em;
    font-weight: 500;
}

.card-profession{
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-profession > .container{
    width: 92%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #263A74;
}

.card-profession > .container > div > h1{
    color: #fff;
    font-size: 1.5em;
    padding: 10px 0;
}

.card-profession > .container > div{
    text-align: center;
}

.card-profession > .container > div > ul{
    width: 100%;
    text-align: center;
}

.card-profession > .container > div > ul > li{
    color: #fff;
    padding: 15px 0;
    list-style: none;
    display: flex;
    text-align: justify;
}

.card-profession > .container > div > ul > li > p{
    color: #fff;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 30px;
}

.check{
    margin-right: 10px;
}

.texto{
    max-width: 2000px;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
}

.texto > div{
    width: 93%;
}

.texto > div > p{
    color: var(--cor-primary);
    text-align: justify;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 30px;
    margin: 15px 0;
}

.coordenadores{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    transition-duration: .5s;
}

.container-flex{
    max-width: 1200px;
    width: 100%;
}

.imgCordenadores{
    width: 390px;
    max-width: 450px;
    align-items: center;
    border-radius: 3px;
    box-shadow: 4px 7px 14px -2px rgb(119, 119, 119);
    transition-duration: .2s;
    margin-bottom: 10px;
}

.coordenadores > .container-flex > .descrition{
    max-height: 370px;
    padding: 0 25px;
}

.coordenadores > .container-flex > .descrition > h1{
    color: #172347;
    font-size: 1.3em;
    font-weight: 500;
}

.coordenadores >.container-flex > .descrition > p{
    color: var(--cor-primary);
    text-align: justify;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 30px;
    margin: 5px 0;
}

.coordenadores > .container-flex > .descrition > span{
    color: var(--cor-secundary);
    font-size: 1.1em;
    font-weight: 500;
    line-height: 30px;
}

@media screen and (max-width: 2000px) and (min-width: 850px) {
    .coordenadores > .container-flex{
        display: flex;
    }   
}