
/* #centro-academico initial */

#centro-academico{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#centro-academico > .container{
    width: 100%;
    max-width: 1000px;
}

#centro-academico > .container > h1{
    color: #1e2c5a;
    font-size: 1.8em;
    text-align: center;
}

#centro-academico > .container > p{
    color: var(--cor-primary);
    font-size: 1.1em;
    font-weight: 700;
    line-height: 30px;
    padding: 10px;
    text-align: justify;
}

#informacoes-cursos-centro-academico{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.cards > div > .img-centro-academico{
    width: 380px;
    max-width: 450px;
    align-items: center;
    border-radius: 3px;
    box-shadow: 4px 7px 14px -2px rgb(119, 119, 119);
    transition-duration: .2s;
}

.cards{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    transition-duration: .5s;
}

 h1{
    color: #1e2c5a;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.cards > div > p{
    color: var(--cor-primary);
    text-align: justify;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 30px;
    display:flex;
    margin-top: 10px;
    padding: 0 15px;
}

@media screen and (max-width: 2000px) and (min-width: 850px) {
    .cards > div{
        display: flex;
    }   
}